In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("data_banknote_authentication.txt")
data

       3.6216    8.6661  -2.8073  -0.44699  0
0     4.54590   8.16740  -2.4586  -1.46210  0
1     3.86600  -2.63830   1.9242   0.10645  0
2     3.45660   9.52280  -4.0112  -3.59440  0
3     0.32924  -4.45520   4.5718  -0.98880  0
4     4.36840   9.67180  -3.9606  -3.16250  0
...       ...       ...      ...       ... ..
1366  0.40614   1.34920  -1.4501  -0.55949  1
1367 -1.38870  -4.87730   6.4774   0.34179  1
1368 -3.75030 -13.45860  17.5932  -2.77710  1
1369 -3.56370  -8.38270  12.3930  -1.28230  1
1370 -2.54190  -0.65804   2.6842   1.19520  1

[1371 rows x 5 columns]

In [3]:
cols = ['variance','skewness','curtosis','entropy','class']

data.columns = cols
data

      variance  skewness  curtosis  entropy  class
0      4.54590   8.16740   -2.4586 -1.46210      0
1      3.86600  -2.63830    1.9242  0.10645      0
2      3.45660   9.52280   -4.0112 -3.59440      0
3      0.32924  -4.45520    4.5718 -0.98880      0
4      4.36840   9.67180   -3.9606 -3.16250      0
...        ...       ...       ...      ...    ...
1366   0.40614   1.34920   -1.4501 -0.55949      1
1367  -1.38870  -4.87730    6.4774  0.34179      1
1368  -3.75030 -13.45860   17.5932 -2.77710      1
1369  -3.56370  -8.38270   12.3930 -1.28230      1
1370  -2.54190  -0.65804    2.6842  1.19520      1

[1371 rows x 5 columns]

In [4]:
ip = np.array([1,1,1,1])

In [15]:
print(len(data))
dis = float('inf')
opClass = 0

for i in range (len(data)):
    curCol = data.iloc[i]

1371